<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
<!--    height: 100vh;-->
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.catalog-button {
background-color: #343a40;
color: white;
border: 2px solid #343a40;
padding: 10px 20px;
text-align: center;
text-decoration: none;
        border-radius: 5px;

font-size: 16px;
cursor: pointer;
transition: all 0.3s ease;
}
    </style>
</head>
<body>
<a href="/admin/" class="catalog-button">Вернуться</a>
<div class="container">
    <h1 class="mt-4">Пользователи</h1>
    <form id="addAdminForm" method="post" action="/admin/addAdmin">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">Username</td>
                <td>
                    <button type="submit" name="username" th:value="${user.username}" class="btn btn-primary">Сделать админом</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
